<h1>New Event</h1>

<%= form_for @event do |f| %>
  Name: <%=f.text_field :eventname %>
  Location: <%=f.text_field :location%>
  Start_date: <%=f.date_field :start_date%>
  Description: <%= f.text_area :description %>
  <%= f.submit%>
<%end%>
