<h2>Your Events</h2>

<p>
  <ul>
    <li>
      Creator: <%= @event.creator.name %> <br/> 
    </li>
    <li>
      Event: <%= @event.eventname %> <br/>  
    </li>
    <li>
      Location: <%= @event.location %><br/> 
    </li>
    <li>
      Event_Date: <%= @event.start_date %>
    </li>
    <li>
      Description: <%= @event.description %> 
    </li>
  </ul>
</p>